html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#uName{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
}
#firstNumber{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
}
#secondNumber{
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; 
}

#ForgotPageEmail{
  margin-bottom: -1px;
}
#CreatePageEmail{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#CreatePagePassword{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#ConfirmPassword{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#Password{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#PasswordConfirm{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#button {
  padding: .5em 1em;
  text-decoration: none;
}
#effect {
  position: relative;
  width: 240px;
  height: 170px;
  padding: 0.4em;
}
#effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}

#DisplayForForgotPage, #DisplayForForgotPage2, #Display, #Display2, #DisplayForCreateAccountPage, #DisplayForCreateAccountPage2, #DisplayForCreateAccountPage3, #DisplayForCreateAccountPage4, #resultParagraph{
  text-align: center;
}

#DisplayParagraph{
  border-radius: 10px;
  border: 1px solid #0d00ff;
}